[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/bin/imwheel -k
GenericName[en_US]=
GenericName=
Icon=dialog-scripts
MimeType=
Name[en_US]=imwheel.sh
Name=imwheel.sh
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=
